

/* Footer */

.footer {
    color: black;
    min-height: 12rem;

    font-family: 'Fugaz One', cursive;
    padding: 3rem 2rem 0rem 2rem;
    background-color: #e6e6e6;
  }

  .footer-text{
    text-align: center;
    font-size:3rem;
    padding: 1.3rem;
    box-shadow: -12px 12px;
    border: 2px solid black;
    border-radius: 20px;
  }
  
  /* .footer-about{
    padding-right: 6rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 4rem;
  
  }
  
  .footer-abouttext{
    padding:2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 3rem; 
    color: #dedede;
  }
   */
  .footer-reserve{
    font-size: 11px;
    padding-top: 2rem;
    color: #bdbdbd;
  }
  
  
  @media (max-width:600px){
    .footer-text{
      font-size: 2.1rem;
      padding: 1rem;
    }
  }

  @media (max-width: 410px){
    .footer-text{
      font-size: 16px;
    }

    .footer {
      padding: 3rem 0rem 0rem 0rem;
    }
  }
  