.home{
    background-color: #fffbe8;
    width: 100%;
    position: relative;
}

.topproducts{
    position: relative;
}

.topproducts img{
    /* width: 100%; */
    overflow: hidden;
    margin-top: -9rem;
    min-height: 40vh;
    height: auto;
    width: 100%;
}

.topproducts .product_info{
    position: absolute;
    left: 55%;
    top:25%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 10px 10px;
    border-radius: 10%;
    color: white;
    font-family:'Times New Roman', Times, serif;
    overflow: hidden;
    width: 40vw;
    height: auto;
    word-break: break-all;

}

.topproducts .product_info .name{
    text-align: center;
    font-size: 7vw;
}

.topproducts .product_info .seller{
    text-align: right;
    font-size: 3vw;
}

.topproducts .product_info .description{
    font-size: 1vw;
}



.maintopic{
    text-align: center;
    padding: 10rem 0rem 7rem 0rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 5vmin;
    color: #ffbb8a;
  }
  