.order{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 80vh;
    margin-bottom: 8rem;
    margin-top: 4rem;
}

.order .tape-container{
    display: flex;
    text-align: center;
    width: 100%;
    flex-direction: row-reverse;
}

.tape-container .tape{
    background-color: black;
    padding: 2rem;
    width: 20vw;
    max-width: 20rem;
    transform: translateY(4rem) rotate(45deg);
}

.order .order-card{
    width: 100%;
    justify-content: center;
    display: flex;
}

.order .order-card .order-card-body{
    border: 7px double black;
    border-radius: 8% 0 8% 0;
    width: 90vw;
    max-width: 120rem;
    padding: 5rem 2rem 2rem 2rem ;
}
 

.order-id-container{
    font-size: 3.5rem;
    text-align: center;
}

.order-id{
    font-size: 2.5rem;
    font-style: italic;
    background-color: #f5d45d;
    padding-right: 1rem;
    padding-left: 1rem;
}



.order-card-body .order-card-info {

    padding: 2rem;
}

.order-card-info .order-card-title{
    font-size:2rem;
    background-color:#598f65 ;
    width: 12rem;
    color: white;
}

.order-card-info .order-card-container{
    padding: 1rem 3rem 1rem 3rem ;
    font-size: 13px;
}


.order .order-item{
    flex:1 1 25rem;
}


/* Cart */

  .order-row{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    /* text-align: center; */
    align-items: center;
    box-shadow: -2rem 2rem  black;
    margin-left: 5rem;
    padding: 3rem;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 2rem;
    margin-top: 5rem;
  }

  .order-image{
      flex:1 1 25rem;
  }

  .order-image img{
      max-height: 30rem;
      width: 100%;
      height: 100%;
      border: 1px solid black;
  }

  .order-product-info{
      flex:1 1 25rem;
      margin: 2rem;
  }

  .order-info-container{
    display:flex;
    justify-content:space-between
  }

  .order-info-name{
    text-align: left;
  }

  .order-info-value{
      text-align: right;
      margin-right: 1vw;
  }

  .order-row button{
      color: white;
      background-color: black;
      padding: 0 3px 0 3px;
      display: flex;
  }

  .order-info{
      flex: 1 1 25rem;
      margin-top: 6rem;
      padding: 0 2vw 0  2vw;
      justify-content: center;
      text-align: center;
      margin-left: 3rem;
  }
  

.ordertitle{
    margin-left: 2rem;
    text-align: center;
    font-family: 'Fugaz One', cursive;
    font-size: 4vw;
    font-weight: 600;
    color: white;
    background-color: black;
    border-radius: 50%;
    padding: 2rem;
    width: 85%;
  }

  .subtotal{
      margin-left: 2rem;
      font-size: 2.5rem;
      font-weight: 600;
      margin-top: 3rem;
      justify-content: space-between;
      display: flex;
      width: 90%;

  }

  .order-info .subtotal .subtotal-name{
      text-align: left;
  }

  .order-info .subtotal .subtotal-value{
      text-align: right;
      background-color: #fcba03;
      font-style: italic;
  }
.order-info button{
  margin-top: 3rem;
  text-align: center;
  background-color: white;
  color: black;
  border: 2px dashed black;
  border-radius: 50%;
  font-family: 'Fugaz One', cursive;
  font-size: 2vw;
}

.order-info button:hover{
  border: 5px dashed black;
}

@media (max-width:690px){

    .order-info{
        /* display: block; */
        flex: 2 1 50rem;
    }

    .ordertitle{
        font-size: 7vw;
    }

    .order-item{
        display: flex;
        margin-right: 2rem;
    }

    .order button{
        font-size: 3rem;
    }
    .order-id{
        font-size: 2rem;
    }

    .order .order-info{
        margin-left: 0;
    }
}

@media (min-width:1280px){
    .order .tape-container{
        justify-content: center;
    }
    .tape-container .tape{
        transform: translateY(3rem);
        padding: 3rem;
        border-radius: 50%;
        
    }
    .order .order-item{
        flex:2 1 50rem;
    }

    .ordertitle{
        font-size: 3vw;
    }
}