
/* Card */

.products{
    /* justify-content: space-around;
    align-items: center; */
    overflow: hidden;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    
}

.card {
    background-color:none;
    width: 100%;
    height: auto;
    margin-bottom: 7rem;
    position: relative;
    border: none;
  }


.card .product_image{
    width: 100%;
    height: auto;
    object-fit: contain;
    border: 1px solid gray;
}

  .card-body {
    font-family: sans-serif;
    font-weight: 800;
    background-color: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background:linear-gradient(rgba(0, 0, 0, 0), rgba(0,0,0,0.6)) ; 
    text-align: center;
    transition: 0.5s;
    opacity: 0;
  }

  .card:hover .card-body{
    opacity: 1;
    /* transform: translateY(0); */
  }

  .card:hover {
    transform: translateY(15px);
  }


  
  /* .card-body .product_name{
    text-align: left;
    color: white;
    font-size: 2rem;
    position: relative;
  }


  .card-body .price {
    font-size: 2rem;
    padding-top: 1rem;
    color: white;
  } */


  .card-body img{
    width: 30%;
    
    border-radius: 50%;
    border: 1px solid black;
    vertical-align: middle;
    margin-right: 1rem;
    margin-top: 7%;
  }


  .card-body .seller_name{
    color: white;
    font-size: 4rem;
  }


  @media (min-width: 800px){
      .products{
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 30px;
          grid-auto-flow: row dense;
      }
      .card{
          display: grid;
          row-gap: 20px;
      }
  }