
.search{
    padding: 2rem;
}

.search-result{
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.search-result button{
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.search-info{
    width: 100%;
    align-items: flex-start;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}

.search-filter-name{
    text-align: center;
    padding: 2rem;
    font-size: 2vw;
    border-radius: 50%;
    box-shadow: -13px 13px;
    border: 1px solid black;
    max-width: 35rem;
    width: 40%;
  
  }
  .search-filters ul{
      font-size: 1vw;
      padding: 3rem;
  }


  .active{
    font-size: 1.6vw;
  }

.search-filters{
    flex: 1 1 25rem;
}

.search-products{
    flex: 3 1 75rem
}


.product-detail .product-info{
    width: 100%;
    align-items: flex-start;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-info-box{
    padding: 0 3vw 0 2.5vw ;
    transform: translateY(-100px);
    font-size: 2rem;
}


.product-info-container{
    display:flex;
    justify-content:space-between;
    font-size: 2rem;
}

.product-info-name{
    text-align: left;
}
.product-info-value{
    text-align: right;
    /* border: 1px solid black; */

}

.product-info .product-image{
    flex:2 1 50rem;
    text-align: center;
}

.product-info .product-image img{
    max-width:95%;
    margin: 2.5rem 0 0 3rem ;
    max-height: 100rem;
    border-radius: 0;
    border: 2px solid black;
}

.product-info .seller-logo{
    flex:1 1 25rem;
    text-align: center;
    margin: 6rem 2rem 0 2rem;
}

.seller-logo .seller-name{
    transform: translate(0,-150px);
}

.seller-logo .seller-name a{
    font-size: 8.5rem;
    font-style: italic;
    -webkit-text-stroke: 1.5px black;
    color: white;
}
.seller-logo .seller-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-info button{
    background-color: black;
    border-radius: 50%;
    font-size: 2vw;
    font-family: 'Fugaz One', cursive;
    margin-top: 2rem;
    width:78%;

}


.review-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}


.review-form{
    max-width: 80rem;
    width: 100%;
    display: inline-block;
    position: relative;
  }

  .review-form .write-review-title{
      font-size: 4.5rem;
      width: 100%;
      justify-content: center;
  }

  .review-form >div{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
  }
  

  
  .review-form input{
    border: none;
    border-bottom: 1px solid gray;
    border-radius: none;
    width: 50rem;
  
  }
  .review-form .review-button{
      width: 100%;
      justify-content: center;
  }

  .review-form button{
    background-color: white;
    color: black;
    border: 2px dashed black;
    border-radius: 50%;
    font-family: 'Fugaz One', cursive;
    font-size: 4rem;
    text-align: center;
  }
  
  .review-form button:hover{
    border: 5px dashed black;
  }

.review-box .review-show{
    flex: 2 1 50rem;
    padding: 2rem;

}

.review-box .review-write{
    flex:1 1 25rem;
    padding: 2rem;
    display: flex;
    justify-content:space-between;


}



@media (max-width:1300px){
    .review-box .review-show{
        flex: 1 1 25rem;
    }
}


@media (max-width: 827px){
    .product-info .product-image img{
        margin: 2.5rem 0 0 0rem ;
    }
    .product-info .seller-logo{
        margin-right: 4rem;
    }

    .product-info button{
        font-size: 6vw;
        width: 60%;
    }

    .product-info-box{
        padding: 0 0vw 0 3vw;
    }

    .review-form .write-review-title{
        font-size: 5vw;
    }

}


@media (max-width:550px){
    .product-info .seller-logo{
        margin: 6rem 0 0 0;
    }

    .seller-logo .seller-name a{
        font-size: 7rem;
    }

    .product-info-box .productdetail-name{
        font-size: 6vw;
    }

    .product-info-box .product-info-container{
        margin-right: 2rem;
    }

    .review-form .write-review-title{
        font-size: 8vw;
    }
    .review-box .review-write{
        padding-left: 1rem;
    }
    .review-form button{
        font-size: 8vw;
    }

    

}