
.search{
    /* padding: 2rem; */
    max-width: 1450px;
    margin: auto;
    margin-top: 4rem;
}

.search-result{
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 2rem;
}

.search-result button{
    background-color: black;
    color: white;
    border-radius: 50%;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}


.search-filter-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.search-filters{
    display: block;
    margin: 2rem;
    font-size: 13px;
    text-transform: uppercase;
    width: 370px;
    padding: 3px 3px 1px 3px;
    background-color: black;
}

.search-filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px;
    padding-left: 19px;
    margin-bottom: 3px;
}

.search-filter-name{
    text-align: center;
    font-size: 13px;
}

.search-filter select{
    width: 250px;
}

.search-filter-categories{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2rem;
}

.search-filter-category{
    font-weight: 400;
    text-transform: uppercase;
    font-size: 17px;
    cursor: pointer;
    margin-right: 2rem;
    padding-top: 5px;
    position: relative;
}

.search-filter-category .active{
    font-weight: 800;
}

.search-filter-category:hover::before{
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #e66825;
    position: absolute;
    left: 98%;
}


.search-products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    justify-content: center;
    grid-gap:30px;
    overflow: hidden;
}

.search-product{
    margin: auto;
    height: 500px;
    position: relative;
    margin-top: 2rem;
    cursor: pointer;
}

.search-product-image{
    width: 370px;
    height: 420px;
    overflow: hidden;
}

.search-product img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.search-product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 1rem 2rem 1rem 2rem;
    font-weight: 500;
    border: 3px solid black;
    width:  370px;
    height: 80px;
    text-overflow: hidden;
}


.search-product:hover .search-product-info{
    background-color: black;
    color: white;
}

nav{
    display: flex;
    justify-content: center;
    margin: auto;
}

.pagination{
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    border: 1px solid black;
    border-radius: 12px;
}

.pagination li{
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    z-index: 1;
}
.page_number{
    border-right: 1px solid black;
}

.page_active{
  background-color: #ff643d;
}


/* 
@media (max-width:1200px){
    .search-products{
        flex: 2 1 50rem;
    }
    .search-product{
        margin: 1rem;
    }
    .search-product{
        min-width: 150px;
    }
}


@media (max-width: 830px){
    .search-products{
        flex: 1 1 25rem;
    }
    .search-product{
        margin: 0rem;
    }
    .search{
        padding: 1rem;
    }
    

}


@media (max-width:580px){
    .search-product{
        min-width: 0;
    }

    .search-filters{
        flex: 1 1 10rem;
    }

    .search-products{
        flex: 1 1 20rem;
    }

} */